!!! 5
html
  head
    title AJ the DJ (Utah County)
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name="description", content="Entertaining Weddings, Church, Institute, Youth, and other (LDS-standards) dances, social events and activities in Utah County, Utah Valley, and Salt Lake County for years")
    //- Canonical self-reference
    link(rel="canonical", href="http://aj.the.dj")
    //- Twitter Cards / Open Graph
    meta(name="twitter:site", content="@coolajthedj")
    meta(name="twitter:creator", content="@coolajthedj")
    meta(property="og:url", content="http://aj.the.dj/")
    meta(property="og:title", content="AJ the DJ - Utah County")
    meta(property="og:description", content="Entertaining Weddings, Church, Institute, Youth, and other (LDS-standards) dances, social events and activities in Utah County, Utah Valley, and Salt Lake County for years")
    meta(property="og:image", content="http://aj.the.dj/images/logo-aj-fb.png")
    link(href='http://fonts.googleapis.com/css?family=Numans', rel='stylesheet', type='text/css')
    //-link(href='http://fonts.googleapis.com/css?family=Spinnaker', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Orienta', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')
    link(rel='stylesheet', href='style.css', type='text/css', media='print')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38431552-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    //if IE lt 9
      script
        $(function () {
          var hack = '<div style="display: none; background-color: red; color: white; text-align: center; padding: 5px; border: yellow solid 1px;">'
            + "Having trouble viewing this page? Use a web browser, such as Chrome or Firefox, instead."
            + "</div>"
            ;

          $(hack).prependTo('.js-header-wrapper').slideDown();
        });
    script(src="app.js")
    // script(src="pakmanaged.js")
  body
    .js-a-class-for-the-hash-thing.css-a-class-for-the-hash-thing
    .css-body-wrapper
      .js-header-wrapper.css-header-wrapper
        .css-header
          img.css-left.css-logo(src='./images/logo-aj-white.png')
          .css-left
            h1 AJ the DJ
            h2
              a(href="tel:+18013604427") 801.360.4427
          .css-right
            h1 Social, Classy, Fun
            h2 Weddings, LDS Events
          .css-clear
      .js-nav-wrapper.css-nav-wrapper
        a.js-scroll(href='#mission') About
        a.js-scroll(href='#contact') Contact
        a.js-scroll(href='#weddings') Weddings
        a.js-scroll(href='#ysa-events') LDS Events
        a.js-scroll(href='#utah-valley') Utah Valley
        //-a.js-scroll(href='#pricing') Payment
        a(href='https://twitter.com/CoolAJtheDJ', target='_blank')
          img(src="images/icon-footer-twitter.png", width="24px")
        a(href='https://facebook.com/CoolAJtheDJ', target='_blank')
          img(src="images/facebook_logo.png", width="24px")
        a.css-fb-like
          include like.html
      .css-content-wrapper
        section.css-chunk
          a.css-relup(name="mission")
          h1 AJ the DJ
          div
            blockquote.
              "Entertaining
              Weddings,
              Church,
              Institute,
              Youth,
              and other (LDS-standards) dances,
              social events and activities
              in
              Utah County,
              Utah Valley,
              and
              Salt Lake County
              for years"
            span.
              My goal is to create a positive, uplifting, and energetic atmosphere for your social event.
            h3
              span(class="kw") DJ Services
            ul
              li DJ - Selecting fun, danceable music (fast, slow, line, group, etc)
              li MC - Announcing and orchestrating the evening's activities
              li Scheduling - Venues, Reception Halls, and Facebook Events

        section.css-chunk
          a.css-relup(name="contact")
          h1 Contact
          p.
            Call me anytime Monday through Saturday from 10 am to 8 pm.
            If I'm not available and you leave a message,
            I'll usually get back to you within an hour.
          p.
            Text or Email me anytime at all.
          p
            span AJ ONeal
            br
            span
              a(href="tel:+18013604427") (801) 360-4427
            br
            span
              a(href="mailto:AJ@the.DJ") AJ@the.DJ
            br
            span
              a(href="http://AJ.the.DJ") AJ.the.DJ

        section.css-chunk
          a.css-relup(name="weddings")
          h1 AJ the 
            span(class="kw") Wedding DJ

          p 
            span If you're looking to 
            em(class="kw") rent a DJ 
            span for your 
            em(class="kw") Utah wedding 
            span I'd love to be your DJ and 
            em MC.
            
          p Why use a Master of Ceremonies?
          p
            | At a wedding, I'm not just the guy in charge of the music,
            | I aim to boost the complete
            em(class="bw") wedding entertainment
            | experience and
            strong to relieve stress 
            | from the Bride, Groom, and their families.
          p
            span.
              I'm also the MC who handles the announcements and helps orchestrate the evening.
              I'll work with your venue, caterer, and photographer to make sure that everything goes
              as smoothly as it should and pick up any slack or fix any last minute oopses.
              If an important family member is having car trouble or a last minute modification
              to the cake is in progress, I'll provide entertainment.
              Although the
            em(class="kw") wedding dj cost 
            span.
              is generally the least of all the wedding and reception expenses,
              brides and guests agree that the music adds more to the experience than anything else.

          h2 Testimonials
          div.css-testimonial
            div.css-left
              img(height="150", src="http://dropsha.re/files/cUobWQA/Natalia-Heftel-s-Wedding-00001-cropped.jpeg")
              p
                a(href="http://fb.com/NataliaHeftel", target="_blank")
                  span.css-name Natalia Heftel
                br
                span.css-title Bride
            p
              | "It was so hectic... but I remember 
              strong every time I heard the music I was like, this is perfect! 
              | And it was just something 
              strong I didn't have to worry about because it was fun. 
              | And OH MY GOSH!! The bouquet throw was AWESOME!!! 
              | I was like "all the single ladies" and then you threw on the song - 
              strong completely unexpected, but the perfect touch... 
              | such an awesome and 
              strong treasured memory
              |. 
              | I didn't have to worry 
              | , every time I heard it, I loved it. 
              | And you went above and beyond to 
              strong enhance the experience 
              | when it needed a boost. 
              | So yeah, your service made a  
              strong huge impact
              |."
            .css-clear

        section.css-chunk
          a.css-relup(name="ysa-events")
          h1 AJ the LDS DJ
          p.
            The LDS Youth and Young Single Adult (YSA) activities are the events I love doing the most,
            especially the formal and semi-formal dances.
          p.
            As with all events, I'd love to help your ward and stake activities committee
            with catering, photography, and event planning.

          h2 Formal and Semi-Formal Dances
          ul
            li Valentine's Dance
            li Bishop's Ball
            li Spring Fling
            li Sadie Hawkin's
            li Gold and Green Ball
            li New Year's Dance

          h2 Come-as-you-are Activities
          ul
            li Talent Show
            li Summer Splash
            li Halloween Dance
            li Block Party / Street Dance

          h2 
            span Why 
            span(class="bw") hire a DJ
            span ?
          div
            p
              span Occasionally you'll hear suggestion that instead of hiring a
              em(class="kw") disc jockey 
              span to use some old blown out speakers from someone's
                former-DJ uncle's basement or to play music through the overhead system in the cultural
                hall (that will ruin the overhead speakers, by the way - they're intended for hymns at
                low volume) and just play a playlist from YouTube.
            p.
              I advise against that for the following reasons:
            ul
              li This is a dance, sound quality is important
              li If you play loud top 40s music through the cultural hall overheads, you'll damage them
              li Finding out that your YouTube playlist doesn't have the clean radio edit is an unpleasant surprise
              li Having someone to "work the crowd" and modify the playlist on-the-fly makes the dance more enjoyable
              li All of the music, especially requests, should be previewed before being played

            p
              span  Whether you choose me or one of the other 
              em(class="kw") DJs for parties 
              span a professional 
              em(class="kw") DJ costs  
              span much less than an ametuer (when especially in terms of peace of mind).


          h2 Testimonials
          div.css-testimonial
            div.css-left
              img(height="150", src="http://dropsha.re/files/+OJZZgA/Amanda-Gubler-Baseball-cropped.jpeg")
              p
                a(href="http://fb.com/profile.php?id=17831684", target="_blank")
                  span.css-name Amanda Gubler
                br
                span.css-title
                  | Activities
                  br
                  | Committee
            p.
              AJ was a great addition to our ward Halloween party. Everyone enjoyed dancing to the music and the lights and fog machine really took the party over the top.
            .css-clear

        section.css-chunk
          a.css-relup(name="utah-valley")
          h1 AJ the 
            span(class="kw") Utah DJ
          div
            p
              span If you've been searching for good 
              em(class="kw") Utah DJs 
              span you've come to the right place.
            p
              span I'm based in Utah Valley (right in Provo),  
              span but I offer  
              em(class="kw") DJ services 
              span throughout Salt Lake City and Utah County including: 

            ul
              li Salt Lake
              li Murray
              li West Jordan
              li Sandy
              li South Jordan
              li Draper
              li Riverton
              li Bluffdale
              li Alpine
              li Highland
              li Saratoga Springs
              li Eagle Mountain
              li Thanksgiving Point
              li Lehi
              li American Fork
              li Pleasant Grove
              li Lindon
              li Orem
              li Park City
              li Heber City
              li River Bottoms
              li Provo
              li Springville
              li Mapleton
              li Spanish Fork
              li Salem
              li Payson

          p
            span If you're looking for a 
            em(class="kw") DJ in Utah 
            span elsewhere, I'm connect to some of the best 
            em(class="kw") DJs in Utah 
            span and would glady make a recommendation for a 
            em(class="kw") local DJ 
            span in your area.

        section.css-chunk
          a.css-relup(name="monthly-drawing")
          h1 Monthly Drawing for a Free 
            span(class="kw") Dance Party
          div
            p
              span Each month one of my facebook fans is selected for a free dance party.
              span You can become a fan by clicking the 'Like' button at the top of the page.
          div
            p
              strong Rules and Details: 
            ul
              li Drawing takes place on the 1st of each month.
              li If you are selected you will be notified via a facebook message by the 10th of the month.
              li The winner has 10 days to respond to accept the offer (or the drawing will be held again).
              li The party must take place within 25 miles of the area between Provo and Salt Lake.
              li If the winner does not live within those boundaries, they may transfer to someone who does.
              li The free dance party must take place between Monday and Thursday.
              li The free dance party may be upgraded to a weekend party for $150 (for a block party or stake dance) or $300 (for a wedding or corporate event).
              li The winner must choose a date for their party within 20 days.
              li The offer is transferrable.
              li You are not eligible to win more than once.

        //-section.css-chunk
          a.css-relup(name="pricing")
          h1 Pricing
          div
            p
              | Normal event pricing ranges from $250 to $3,000 depending on size, location, equipment, and duration,
              | so call, text, or e-mail for a quote.
            p
              | No event is too small or too large for my consideration,
              | but if I'm already booked or otherwise unable to meet your needs
              | I'll be happy to put you in touch with someone who can.
          h1 Payment
          .css-payments
            p
              | I accept all major credit cards, cash, check, and paypal.
            p
              img(src='images/visa.gif', alt='Visa')
              img(src='images/mastercard.gif', alt='MasterCard')
              img(src='images/amex.gif', alt='American Express')
              img(src='images/discover.gif', alt='Discover')
              img(src='images/paypal.gif', alt='PayPal')
              img(src='images/cash.png', alt='Cash')
              img(src='images/check.gif', alt='Check')

        section.css-chunk
          a.css-relup(name="event-dj")
          h1 AJ the 
            span(class="kw") Event DJ
          p
            span I 
            em(class="kw") DJ for parties 
            span both corporate and personal.

        section.css-chunk
          a.css-relup(name="party-dj")
          h1 AJ the 
            span(class="kw") Party DJ
          p
            span You've been looking for 
            em(class="kw") party DJs 
            span this 
            em(class="kw") DJ for hire 
            span has been waiting to party rock the house... so call me, maybe.

        section.css-chunk
          a.css-relup(name="dj-rental")
          h1 AJ the 
            span(class="kw") DJ Rental
          p
            span.
              Although I occasionally rent out equipment to other DJs,
              I'm very particular about making sure it's in good hands and well taken care of.
              There are a few
            em(class="bw") cheap DJs 
            span.
              out there that aren't very cautious with their equipment,
              but I'm not one of them. 
              Call me and if it doesn't seem like a good fit 
              I can recommend an excellent pawn shop to rent from. 
          
      .css-footer-wrapper
        span © 2010-2013 AJ ONeal 
        span  - 
        span
          a(href="tel:+18013604427") (801) 360-4427
        span  - 
        span
          a(href="mailto:AJ@the.DJ") AJ@the.DJ
        br
        br
        span.
          728 W 1720 N • Provo, UT • 84604
        br
        span Thanks for visiting my 
        em(class="kw") DJ website
        span .
      section.css-chunk
      section.css-chunk
    include fb.html
//-
  keywords searched
    + djs in utah
    + dj in utah
    + utah djs
    + utah dj

  keywords matched
    + utah wedding
    + party djs
    + hire a dj
    + dj for hire
    + dj rental
    + dj website
    + wedding entertainment
    + cheap djs
    + dj costs
    + rent a dj
    + event dj
    + wedding dj cost
    + dj for parties
    + djs for parties
    + local dj
