!!! 5
html
  head
    title AJ the DJ
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    link(href='http://fonts.googleapis.com/css?family=Numans', rel='stylesheet', type='text/css')
    //-link(href='http://fonts.googleapis.com/css?family=Spinnaker', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Orienta', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')
    link(rel='stylesheet', href='style.css', type='text/css', media='print')
    //if IE lt 9
      script
        setTimeout(function () {
          alert("If you have trouble viewing this page, please switch to a Web Browser such as Chrome or Firefox");
        }, 500);
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="app.js")
    // script(src="pakmanaged.js")
  body
    .js-a-class-for-the-hash-thing.css-a-class-for-the-hash-thing
    .css-body-wrapper
      .css-header-wrapper
        .css-header
          img.css-left.css-logo(src='./images/logo-aj-white.png')
          .css-left
            h1 AJ the DJ
            h2 317.426.6525
          .css-right
            h1 Social, Classy, Fun
            h2 Weddings, YSA Events
          .css-clear
      .js-nav-wrapper.css-nav-wrapper
        a.js-scroll(href='#mission') Mission
        a.js-scroll(href='#weddings') Weddings
        a.js-scroll(href='#ysa-events') YSA Events
        a.js-scroll(href='#utah-valley') Utah Valley
        a.js-scroll(href='#pricing') Payment
        a.js-scroll(href='#contact') Contact
        a(href='https://facebook.com/CoolAJtheDJ', target='_blank')
          img(src="http://aib.msu.edu/graphics/facebook_logo.png", width="24px")
        a(href='https://twitter.com/CoolAJtheDJ', target='_blank')
          img(src="http://nyuad.nyu.edu/apps/nyuad/docroot/images/global/icons/icon-footer-twitter.png", width="24px")
      .css-content-wrapper
        section.css-chunk
          a.css-relup(name="mission")
          h1 DJing with Purpose
          div
            span.
              My goal is to create a positive, uplifting, and energetic atmosphere for your social event.
            ul
              li Scheduling - Venues, Reception Halls, and Facebook Events
              li MC - Announcing and progressing through activities
              li DJ - Selecting fun, danceable music (fast, slow, line, group, etc)
              li
                | Karaoke - On screen lyrics, music sans vocals
        section.css-chunk
          a.css-relup(name="weddings")
          h1 Weddings
          p Why use a Master of Ceremonies?
          p
            | At a wedding, I'm not just the man in charge of the music,
            | I'm here 
            strong to relieve stress 
            | from the Bride, Groom, and their families.
          p.
            I'm also the MC who handles the announcements and helps orchestrate the evening.
            I'll work with your venue, caterer, and photographer to make sure that everything goes
            as smoothly as it should and pick up any slack or fix any last minute oopses.
            If an important family member is having car trouble or a last minute modification
            to the cake is in progress, I'll provide entertainment.

          h2 Testimonials
          div.css-testimonial
            div.css-left
              img(height="150", src="http://dropsha.re/files/cUobWQA/Natalia%20Heftel's%20Wedding%200001-cropped.jpeg")
              p.css-name Natalia Heftel
            p
              | "It was so hectic... but I remember 
              strong every time I heard the music I was like, this is perfect! 
              | And it was just something 
              strong I didn't have to worry about because it was fun. 
              | And OH MY GOSH!! The bouquet throw was AWESOME!!! 
              | I was like "all the single ladies" and then you threw on the song - 
              strong completely unexpected, but the perfect touch... 
              | such an awesome and 
              strong treasured memory
              |. 
              | I didn't have to worry 
              | , every time I heard it, I loved it. 
              | And you went above and beyond to 
              strong enhance the experience 
              | when it needed a boost. 
              | So yeah, your service made a  
              strong huge impact
              |."
            div.css-clear

        section.css-chunk
          a.css-relup(name="ysa-events")
          h1 YSA Events
          p.
            The LDS Youth and Young Single Adult activities are the events I love doing the most,
            especially the formal and semi-formal dances.
          p.
            As with all events, I'd love to help your ward and stake activities committee
            with catering, photography, and event planning.

          h2 Formal and Semi-Formal Dances
          ul
            li Valentine's Dance
            li Bishop's Ball
            li Spring Fling
            li Sadie Hawkin's
            li Gold and Green Ball
            li New Year's Dance

          h2 Come-as-you-are Activities
          ul
            li Talent Show
            li Summer Splash
            li Halloween Dance
            li Block Party / Street Dance

          h2 Why use a DJ?
          div
            p.
              Occasionally you'll hear suggestions to use some old blown out speakers from someone's
              former-DJ uncle's basement or to play music through the overhead system in the cultural
              hall (that will ruin the overhead speakers, by the way - they're intended for hymns at
              low volume) and just play a playlist from YouTube.
            p.
              I advise against that for the following reasons:
            ul
              li This is a dance, sound quality is important
              li If you play loud top 40s music through the cultural hall overheads, you'll damage them
              li Finding out that your YouTube playlist doesn't have the clean radio edit is an unpleasant surprise
              li Having someone to "work the crowd" and modify the playlist on-the-fly makes the dance more enjoyable
              li All of the music, especially requests, should be previewed before being played

        section.css-chunk
          a.css-relup(name="utah-valley")
          h1 Utah Valley
          div
            p.
              I'm based in Utah Valley (right in Provo),
              but I work in Salt Lake City and all over Utah County.
        section.css-chunk
          a.css-relup(name="pricing")
          h1 Pricing
          div
            p
              | Normal event pricing ranges from $250 to $3,000 depending on size, location, equipment, and duration,
              | so call, text, or e-mail for a quote.
            p
              | No event is too small or too large for my consideration,
              | but if I'm already booked or otherwise unable to meet your needs
              | I'll be happy to put you in touch with someone who can.
          h1 Payment
          .css-payments
            p
              | I accept all major credit cards, cash, check, and paypal.
            p
              img(src='images/visa.gif', alt='Visa')
              img(src='images/mastercard.gif', alt='MasterCard')
              img(src='images/amex.gif', alt='American Express')
              img(src='images/discover.gif', alt='Discover')
              img(src='images/paypal.gif', alt='PayPal')
              img(src='images/cash.png', alt='Cash')
              img(src='images/check.gif', alt='Check')
        section.css-chunk
          a.css-relup(name="contact")
          h1 Contact
          p.
            Call me anytime Monday through Saturday from 10 am to 8 pm.
            If I'm not available and you leave a message,
            I'll usually get back to you usually within an hour.
          p.
            Text or Email me anytime at all.
          p
            span AJ ONeal
            br
            span (317) 426-6525
            br
            span AJ@CoolAJtheDJ.com
          
      .css-footer-wrapper
        span © 2010-2013 AJ ONeal
        span  - 
        span (317) 426-6525
        span  - 
        span AJ@CoolAJtheDJ.com
      section.css-chunk
      section.css-chunk
